body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.reloj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reloj {
    font-size: 48px;
    background-color: #333;
    border: 2px solid #555;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
